#content {
    font-size: inherit !important;
    line-height: inherit !important;
}

#content .visite-tambem-itens li a {
    color: #676767 !important;
}

#content #compartilhar-conteudo a {
    color: #ffffff !important;
}

#content-views a,
#content li.formTab a,
#content-core li.formTab a {
    line-height: 24px !important;
}

#edit-bar {
    font-size: inherit !important;
}

#edit-bar .actionMenuContent li {
    line-height: 2em;
}

.abas-personalizadas li {
    display: inline-table !important;
    margin-bottom: -1px !important;
}

#content .abas-personalizadas a:link {
    border: none !important;
}

#content .abas-personalizadas li {
    line-height: inherit !important;
}

.grupo-lista {
    list-style-type: none !important;
    margin-left: 10px !important;
}

.visite-tambem-itens li {
    margin-bottom: 10px !important;
}

span.compartilhar_facebook,
span.compartilhar-google-plus {
    cursor: pointer;
    color: #fff;
}

#breadcrumb .breadcrumb>li {
    display: inline;
}

#archetypes-fieldname-breadcrumb input#breadcrumb {
    width: auto !important;
    color: inherit !important;
}

.formPanel .label {
    border-radius: inherit;
    color: inherit;
    display: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    padding: inherit;
    text-align: inherit;
    vertical-align: inherit;
    white-space: inherit;
}

.formPanel label {
    display: inline;
}

#atrbResults {
    font-size: inherit !important;
}

dl.portalMessage,
div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.tip,
div.warning {
    font-size: inherit;
}

.coluna-mapa li {
    display: inherit !important;
}

.mapa-site-conteudo a {
    color: #777 !important;
}

#conteudos-categoria .list-inline>li {
    display: inline-block;
}

#conteudos-categoria .list-inline {
    margin-left: -5px;
    list-style: outside none none;
}

#paginacao-da-pagina .pagination>li {
    display: inline;
}

#paginacao-da-pagina .pagination li a.pagina-anterior,
#paginacao-da-pagina .pagination li a.proxima-pagina {
    color: #fff !important;
}

#paginacao-da-pagina .pagination li.disabled a {
    background-color: #f0f0f0 !important;
    color: #999 !important;
}

#conteudos-categoria a:visited {
    color: #116a7b;
}

.links-topo #portal-personaltools {
    background: inherit;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    float: inherit;
    font-size: inherit;
    padding: inherit;
    position: inherit;
    right: inherit;
    top: inherit;
    z-index: inherit;
}

.links-topo #portal-personaltools dd {
    background: #678867;
}

.links-topo dl.actionMenu.activated dd {
    min-width: inherit;
    z-index: 3;
}

.links-topo #portal-personaltools dd a:hover {
    background: #176573;
}

.links-topo #portal-personaltools #anon-personalbar a {
    float: inherit;
}

#formfield-form-widgets-current_allow .label,
#formfield-form-widgets-current_prefer .label {
    color: inherit;
    font-size: inherit;
}

div#paginacao-da-pagina.listingBar {
    font-size: inherit;
}

#listing-table a.state-published {
    color: #436976 !important;
}

#listing-table a.state-private {
    color: Red !important;
}

#content div.documentByLine {
    clear: both;
    width: 100%;
    float: left;
}

.historyTools li {
    list-style-type: none;
}

.template-paginanoticia div#compartilhar-conteudo.noticia-compartilhar div#compartilhar-conteudo,
.template-paginaremota div#compartilhar-conteudo.noticia-compartilhar div#compartilhar-conteudo {
    width: 50%;
}

.noticia-tags .list-inline>li {
    display: inline-block !important;
}

.template-busca #content fieldset,
.template-paginainicial #content fieldset,
.template-gsasearch #content fieldset,
.template-radio_view #content fieldset,
.template-reportagens-especiais #content fieldset,
.template-arquivo-noticias #content fieldset,
.template-coberturas-especiais #content fieldset,
.template-artigos-discursos #content fieldset,
.portaltype-destaqueshome #content fieldset {
    border: none;
}

#texto-intro-imprensa {
    float: left;
    width: 100%;
}

.texto-intro-imprensa {
    float: left;
    width: 100%;
}

.template-radio_view .lista-resultados .lr-container {
    padding: 0;
}

.template-radio_view .lista-resultados .lr-container .lr-titulo {
    line-height: 1.3em;
    text-transform: unset;
}

.template-radio_view .lista-resultados .lr-data {
    margin-top: 5px
}

#texto-portlet {
    margin-bottom: 25px;
}

#texto-portlet .tabela-cont-impr {
    display: table;
    float: left;
    margin-bottom: 20px;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {
    #texto-portlet .tabela-cont-impr {
        float: left;
        width: 100%;
    }
}

#texto-portlet .tabela-cont-impr .ci-linha span {
    display: table-cell;
    float: left;
    min-height: 1px;
    padding: 2px 5px;
    position: relative;
    vertical-align: top;
    width: 50%;
}

@media (min-width: 768px) {
    #texto-portlet .tabela-cont-impr .ci-linha span {
        float: left;
        width: 50%;
    }
}

#midia-facebook-noticias,
#midia-twitter-noticias {
    padding-top: 20px;
}

.template-paginainicial #content ul {
    list-style-type: none;
    margin-left: inherit;
}

#noticias a:link {
    border-bottom: none !important;
}

.template-paginainicial #content {
    margin: inherit;
}


/*------------------*/

#youtube-carousel .carousel-indicators,
#flickr-carousel .carousel-indicators,
#instagram-carousel .carousel-indicators {
    bottom: 0;
    position: inherit;
}

#youtube-carousel .carousel-indicators li,
#flickr-carousel .carousel-indicators li,
#instagram-carousel .carousel-indicators li {
    padding-top: 0;
    border: 1px solid #c5c5c5;
}

#youtube-carousel .carousel-indicators .active,
#flickr-carousel .carousel-indicators .active,
#instagram-carousel .carousel-indicators .active {
    background-color: #c5c5c5;
}

#midia-youtube-noticias .link-integra,
#midia-flickr-noticias .link-integra,
#midia-instagram-noticias .link-integra {
    padding-top: 0;
}

#midia-flickr-noticias figure,
#midia-instagram-noticias figure {
    text-align: center;
}

#midia-flickr-noticias .img-responsive,
#midia-instagram-noticias .img-responsive {
    display: inline;
    /* height: 138px; */
}

.section-imprensa #conteudo-pagina {
    padding-right: 1em;
}

@media (min-width: 768px) {
    .section-imprensa #conteudo-pagina {
        padding-right: 0;
    }
}

.img-hover-midia-audio {
    background: #fff;
}

.img-hover-midia-audio .has-audio i::before {
    top: 22%;
}

.img-hover-galeria-relacionada,
.item-portlet-midias,
.img-hover-midia,
.nc-imagem-midia {
    position: relative;
}

.img-hover-midia img {
    margin: 0 auto !important;
    max-height: 261px;
}

.nc-imagem-midia img {
    margin: 0 auto !important;
    max-height: 131px !important;
}

.nc-imagem-midia .img-responsive {
    display: inherit;
}

.img-hover-galeria-relacionada-audio .has-audio {
    min-height: inherit;
}

.img-hover-galeria-relacionada-audio img {
    margin: 0 auto !important;
    max-height: 95px !important;
}

.img-hover-galeria-relacionada-audio,
.nc-imagem-midia-audio {
    background-color: #fff !important;
}

.img-hover-galeria-relacionada .fa-1x {
    font-size: 0.7em;
}

.img-hover-galeria-relacionada .fa-2x {
    font-size: 1em;
}

#barra-verde p {
    margin-bottom: 0;
}

#content #barra-verde a {
    text-decoration: none !important;
}

#content #barra-verde a:link {
    color: #fff !important;
    font-weight: normal;
}

#content #barra-verde a:hover {
    color: #000 !important;
}

#barra-verde #contentActionMenus {
    z-index: 501;
}

#barra-verde #content-views a {
    color: #fff;
}

#barra-verde #content-views .selected a {
    color: #000 !important;
}

.noticias-home .je-icone::before {
    left: 30%;
    transform: translate(50%, -50%);
}

.noticias-home .je-icone::after {
    left: 0;
    transform: translate(0, -50%);
}

#noticia-1 img {
    margin: 0 auto !important;
}

#home-servicos input.error {
    border-color: currentcolor currentcolor red !important;
}

#home-servicos label.error {
    font-size: 0.55em;
    display: none !important;
}

#form-consulta-situacao-eleitoral input,
#form-consultar-local-votacao input,
#form-consulta-quitacao-eleitoral input {
    text-transform: uppercase;
}

#form-consulta-situacao-eleitoral input::placeholder,
#form-consultar-local-votacao input::placeholder,
#form-consulta-quitacao-eleitoral input::placeholder {
    text-transform: none;
}

.servico-eleitor .local-votacao-home .input-group-addon {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: currentcolor currentcolor #9e9c9c;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #989ba1;
}

#content .abas-personalizadas li a {
    color: #acacac;
}

#content .abas-personalizadas li.active a {
    border-color: transparent;
    color: #006280;
}

.btn-link {
    color: #06414f;
}

#topo,
#topo a {
    color: #f0f0f0 !important;
}

#je-foto-image {
    width: 60%;
    margin: 0 auto;
}

#home-noticias .veja-mais a {
    color: #676767 !important;
}

.galeria-content.galeria-quadro .bloco-galeria .media figure img {
    max-height: 120px;
    margin: auto;
}

.galeria-content .media-left {
    padding-right: unset;
}

.template-midia .img-responsive {
    display: inline;
}

.portaltype-jevideo iframe,
.template-midia iframe {
    width: 500px;
}

.noticia-mais-relacionado .noticia-mais-full {
    width: 100% !important;
}

#lista-noticias .lr-imagem-destaque .has-audio {
    min-height: inherit;
    min-width: inherit;
}

.lista-resultados .lr-container .lr-descricao {
    display: block;
}

#order-search {
    width: 100%;
    margin-top: 10px;
    float: left;
    text-align: right;
}

#order-search input {
    display: none;
}

#order-search label.order-active {
    font-weight: bold;
}

#order-search .checkbox-inline {
    margin-left: 0;
    padding-left: 0;
}

#form-pesquisa-pag label#start_date-error,
#form-pesquisa-pag label#end_date-error {
    display: none !important;
}

#form-pesquisa-pag input.error {
    border: 1px solid red !important;
}

.list-inline li {
    display: inline-block !important;
}

#content ul,
.portletStaticText ul {
    list-style-type: inherit;
    margin-left: inherit;
}

#content li {
    display: list-item;
    /*list-style: none;*/
}

.divider {
    display: block;
}

#barra-verde {
    width: 100%;
}

#barra-verde li {
    display: inline !important;
}

.ArchetypesField-ReferenceField ul li {
    margin: 10px 0;
}

#content-core dt {
    margin: 10px 0;
}

.bt-detalhar {
    width: auto !important;
}

#seu-feedback .abas-personalizadas li.active a.marcar-texto-feed {
    color: #fff;
}

.menu-login {
    clear: both;
}

.paginacao-noticias {
    margin-left: -30% !important;
}

.paginacao-noticias li {
    display: inline-block !important;
}

.je-icone::before {
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#content .marcadorQuadrado li,
#content .marcador-quadrado {
    list-style-image: url('../imagens/marcador_quad.jpg');
    margin-bottom: 20px;
}

#content .marcadorTicado li,
#content .marcador-ticado {
    list-style-image: url('../imagens/marcador_check.jpg');
    margin-bottom: 20px;
}

#texto-conteudo ol,
#texto-conteudo ul {
    margin-left: 30px;
    margin-bottom: 20px;
}

#texto-conteudo ul li {
    list-style: disc;
}


/*#texto-conteudo ol li {
    list-style: circle;
}*/

#texto-conteudo .icone-lista li:not(.divider),
#texto-conteudo .icone-lista li:before,
#texto-conteudo .icone-lista p:before,
#texto-conteudo .icone-lista .bt-mais-acessados:before {
    list-style: none;
}

.template-folder_summary_view #parent-fieldname-description,
.template-folder_summary_view #viewlet-below-content-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.template-folder_summary_view #parent-fieldname-description {
    font-size: 2.1em
}

.template-folder_summary_view #conteudo-pagina h2 {
    font-size: 1.5em
}

#tituloInterno h2 {
    font-size: 3.6rem;
}

.mceFirst #ancora_um_image,
.mceFirst #ancora_um_media,
.mceFirst #ancora_dois_image,
.mceFirst #ancora_dois_media,
.mceFirst #ancora_tres_image,
.mceFirst #ancora_tres_media,
.mceFirst #ancora_quatro_image,
.mceFirst #ancora_quatro_media,
.mceFirst #texto_complementar_image,
.mceFirst #texto_complementar_media,
.mceFirst #galeria_texto_image,
.mceFirst #galeria_texto_media,
.mceFirst #midia_texto_image,
.mceFirst #midia_texto_media,
.mceFirst #tab_texto_image,
.mceFirst #tab_texto_media,
.mceFirst #conteudo_image,
.mceFirst #conteudo_media,
.mceFirst #before_text_form_image,
.mceFirst #before_text_form_media,
.mceFirst #after_text_form_image,
.mceFirst #after_text_form_media,
.mceFirst #before_text_send_mail_image,
.mceFirst #before_text_send_mail_media,
.mceFirst #after_text_send_mail_image,
.mceFirst #after_text_send_mail_media,
.mceFirst #before_text_send_mail_confirm_image,
.mceFirst #before_text_send_mail_confirm_media,
.mceFirst #after_text_send_mail_confirm_image,
.mceFirst #after_text_send_mail_confirm_media {
    display: none;
}

.portaltype-destaquehome .mceFirst #ancora_um_image,
.portaltype-destaquehome .mceFirst #ancora_um_media,
.portaltype-destaquehome .mceFirst #ancora_dois_image,
.portaltype-destaquehome .mceFirst #ancora_dois_media,
.portaltype-destaquehome .mceFirst #ancora_tres_image,
.portaltype-destaquehome .mceFirst #ancora_tres_media,
.portaltype-destaquehome .mceFirst #ancora_quatro_image,
.portaltype-destaquehome .mceFirst #ancora_quatro_media
.portaltype-jecodigo .mceFirst #textoCodigo_image,
.portaltype-jecodigo .mceFirst #textoCodigo_media

 {
    display: block;
}


/*Dispositivos tablet e mobile*/

@media screen and (max-width: 768px) {
    input,
    textarea,
    form *,
    #servicos-mais-acessados,
    #texto-conteudo p,
    #texto-conteudo ul,
    #texto-conteudo ol {
        font-size: 1.6rem !important;
    }
}


/* CSS Document */


/* Copia do contents.css */

body.mceForceColors {
    background: #FFF;
    color: #000;
}

.mceContentBody {
    background: transparent;
}

.mceContentBody a {
    color: #436976 !important;
    background-color: transparent;
    text-decoration: none !important;
    border-bottom: 1px #cccccc solid !important;
}

.mceItemTable,
.mceItemTable td,
.mceItemTable th,
.mceItemTable caption,
.mceItemVisualAid {
    border: 1px dashed #BBB;
}

a.mceItemAnchor {
    width: 12px;
    line-height: 6px;
    overflow: hidden;
    padding-left: 12px;
    background: url(img/items.gif) no-repeat bottom left;
}

img.mceItemAnchor {
    width: 12px;
    height: 12px;
    background: url(img/items.gif) no-repeat;
}

table {
    cursor: default;
    font-size: 100%;
}

table td,
table th {
    cursor: text
}

ins {
    border-bottom: 1px solid green;
    text-decoration: none;
    color: green
}

del {
    color: red;
    text-decoration: line-through
}

cite {
    border-bottom: 1px dashed blue
}

acronym {
    border-bottom: 1px dotted #CCC;
    cursor: help
}

abbr,
html\:abbr {
    border-bottom: 1px dashed #CCC;
    cursor: help
}


/* alteração para o código */

.mceContentBody ul {
    list-style-image: none;
}

.mceContentBody ul.marcadorQuadrado,
.mceContentBody ul li.marcador-quadrado {
    list-style-image: url("marcador_quad.jpg");
}

.mceContentBody ul.marcadorTicado,
.mceContentBody ul li.marcador-ticado {
    list-style-image: url("marcador_check.jpg");
}

p span.italico {
    font-style: italic;
}

p span.bold {
    font-weight: bold;
}

ol.lista-alfabetica li {
    list-style-type: lower-latin;
}


/*Correção espaçamento esquerdo li mais acessados*/

.mais-acessados-item .icone-lista li:not(.divider),
.mais-acessados-item .icone-lista li:before,
.mais-acessados-item .icone-lista p:before,
.mais-acessados-item .icone-lista .bt-mais-acessados:before,
.destaques-itens .icone-lista li:not(.divider),
.destaques-itens .icone-lista li:before,
.destaques-itens .icone-lista p:before,
.destaques-itens .icone-lista .bt-mais-acessados:before {
    margin-left: -18px;
}

.mais-acessados-item li,
.destaques-itens li {
    margin-left: 18px !important;
}

#servicos-mais-acessados .bt-mais-acessados {
    margin: -20px 0 0 28px !important;
}

#midias-noticias-2 .carousel-aside-pause {
    display: none;
}