/* CSS Document */
body{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 75%;
}
#topoSite{
	height: 123px;
	background: url(../img/bktopo.jpg) no-repeat center top;
	border-bottom: #79B63D solid 1px;
	padding-bottom: 1px;
}

#topoSite img{
	margin: 38px 0 0 28px;
}

#menuLateral{
	height: 447px;
	background: #79B63D;
	font-family: "Georgia", Times New Roman, Times, serif !important;
	padding-top: 10px;
	color: #FFFFFF;
	font-size: 135% !important;
	margin: 0 0 0 11px;
}

#menuLateral ul{
	margin: 25px 0 0 10px;
}
#menuLateral li a{
	padding: 10px;
}
#menuLateral li a{
	color: #FFF;
	text-decoration:none;
	display:block;
}

#menuLateral li a:hover{
	border: 1px solid #99CC66;
	background: url(../img/bk-menu-hover.jpg) repeat-x center;
}

#conteudo{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#666666;
	}

.bread {
	margin-left: 2px;
	color: #339900;
	font-size: 90%;

}
.bread span{

	text-decoration:underline !important;
}

.h2{
	border-top:1px solid #FAFAFA;
	margin-top:10px;
	padding-top: 5px;
	padding-bottom: 3px;
	background: #EBEBEB;
	font-family:"Georgia", Times New Roman, Times, serif !important;
	color: #666666;
	font-weight: bold;
	height: 17px;
	margin-bottom: 30px;
}

.h2_index{
	border-top:1px solid #FAFAFA;
	margin-top:20px;
	padding-top: 5px;
	padding-bottom: 3px;
	background: #EBEBEB;
	font-family:"Georgia", Times New Roman, Times, serif !important;
	color: #666666;
	font-weight: bold;
	height: 17px;
	margin-bottom: 30px;
}

.h2_atualizacao{
	margin-top:10px;
	padding-top: 5px;
	padding-bottom: 3px;
	font-family:"Georgia", Times New Roman, Times, serif !important;
	font-weight: bold;
	height: 17px;
	margin-bottom: 15px;
}
.h2_atual{
	border-top:1px solid #FAFAFA;
	margin-top:10px;
	padding-top: 5px;
	padding-bottom: 3px;
	background: #EBEBEB;
	font-family:"Georgia", Times New Roman, Times, serif !important;
	color: #666666;
	font-weight: bold;
	height: 17px;
	margin-bottom: 5px;
}

p{
	margin: 15px 0 !important;
	margin-right: 15px !important;
}

p a{
	margin-left: 2px;
	color: #339900;
}
p a:hover{
	text-decoration:underline !important;
}

.navegacao_anos{
	margin:5px 0;
}
.navegacao_anos ul li {
	font-family:"Georgia", Times New Roman, Times, serif !important;
	font-size:100%;
	margin-right: 8px;
	margin-top: 20px;
}
.navegacao_anos li a{
	display:block;
	text-decoration:none;
	background:url(../img/menu_anos.jpg) repeat-x center bottom #fff;
	padding: 8px;
	color: #333333;
	border: 1px solid #CCCCCC !important;
}
.navegacao_anos ul li a:hover {
	border:none;
	background: url(../img/menu_anos_link.jpg) repeat-x center bottom #1B971B;
	color:#FFFFFF;

}

.selecionado-ml{
	border: 1px solid #99CC66;
	background: url(../img/bk-menu-hover.jpg) repeat-x center;
}

.selecionado-ms a{
	border:none;
	background: #1B971B url(../img/menu_anos_link.jpg) repeat-x center bottom !important;
	color:#FFFFFF !important;
}
#tabela_correspondencia li {
	margin-bottom:15px;
}
#tabela_correspondencia li a {
	font-weight:bold;
	color: #339900;
}
p > strong{
	font-weight: bold!important;
}